.discussion {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
}

.discussion > .bubble {
    border-radius: 1em;
    padding: 0.25em 0.75em;
    margin: 0.0625em;
    max-width: 50%;
}

.discussion > .bubble.sender {
    align-self: flex-start;
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
}

.discussion > .bubble.recipient {
    align-self: flex-end;
    background-color: #efefef;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
}

.blockedresizing {
    overflow: auto;
    resize:none;
}

img {
    max-width: 350px;
    height: auto;
}

.discussion > .imageResizeSender {
    align-self: flex-start;
    padding: 0.25em 0.75em;
    margin: 0.0625em;
}

.discussion > .imageResizeRecipient {
    align-self: flex-end;
    padding: 0.25em 0.75em;
    margin: 0.0625em;
}