.discussion {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}

    .discussion > .bubble {
        border-radius: 1em;
        padding: 0.25em 0.75em;
        margin: 0.0625em;
        max-width: 50%;
    }

        .discussion > .bubble.sender {
            align-self: flex-start;
            background-color: cornflowerblue;
            color: #fff;
            border-radius: 0.3em 0.3em 0.3em 0.3em;
            word-break: break-word;
        }

        .discussion > .bubble.recipient {
            align-self: flex-end;
            background-color: #efefef;
            border-radius: 0.3em 0.3em 0.3em 0.3em;
            word-break: break-word;
        }

img {
    max-width: 350px;
    height: auto;
}

.discussion > .imageResizeSender {
    align-self: flex-start;
    padding: 0.25em 0.75em;
    margin: 0.0625em;
}

.discussion > .imageResizeRecipient {
    align-self: flex-end;
    padding: 0.25em 0.75em;
    margin: 0.0625em;
}

td > a {
    color: #000000;
}

    td > a:hover {
        color: #000000;
    }

#createButton {
    font-weight: bold;
}

.imagePadding {
    padding-bottom: 20px;
}

.ticketImage {
    padding: 20px 20px 20px 20px;
}

.messageImage {
    border-radius: 1em;
    padding: 10px 10px 10px 10px;
}

.letterCircleSender {
    align-self: flex-start;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 2px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 16px Arial, sans-serif;
}

.letterCircleRecipient {
    align-self: flex-end;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 2px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 16px Arial, sans-serif;
}

.sendMessageArea {
    text-align: center;
    display: block;
}

.blockedresizing {
    overflow: auto;
    resize: none;
    margin-bottom: 20px;
    max-width: 800px;
    display: inline;
}

.buttonSendMessage {
    position: absolute;
    width: 7%;
    margin-top: 10px;
    margin-left: 10px;
}

.buttonUploadImage {
    position: absolute;
    width: 7%;
    margin-top: 60px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    color: #007bff;
    cursor: pointer;
}

    .buttonUploadImage:hover {
        background-color: #007bff;
        cursor: pointer;
    }

    .buttonUploadImage input[type=file] {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    .buttonUploadImage > a:hover {
        cursor: pointer;
    }

.buttonUploadImageCreateTicket {
    position: absolute;
    width: 7%;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    color: #007bff;
    cursor: pointer;
}

.uploadImageButtonCreateTicket:hover {
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}

.uploadImageButtonCreateTicket input[type=file] {
    position: absolute;
    width: 19%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    margin-top: -6px;
    margin-left: -15px;
}

.createTicketUploadImage {
    margin-top: 20px;
    width: 340px;
    padding: 20px;
    border: 2px dashed #c9c9c9;
    background-color: #f7f7f7;
}

.hideTheButton {
    display: none;
}

.createTicketClearImageButton {
    margin-top: 20px;
}

.createTicketContainer {
    float: left;
    width: 800px;
}

.ticketContentArea{
    width: 50%;
    margin-top: 10px;
}